<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.beogotechnologies.deliverymanager_mobileapp">

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DeliveryManager">
        <receiver
            android:name=".util.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activities.common.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.employee.EmployeeMenuActivity"
            android:label="@string/title_menu">
        </activity>
        <activity
            android:name=".activities.employee.NewDeliveryActivity"
            android:label="@string/title_newDelivery">
        </activity>
        <activity
            android:name=".activities.employee.MyOpenedDeliveriesActivity"
            android:label="@string/title_myDeliveries">
        </activity>
        <activity
            android:name=".activities.employee.MyDeliveryiesHistoryActivity"
            android:label="@string/title_myDeliveriesHistory">
        </activity>
        <activity
            android:name=".activities.common.UserInfoActivity"
            android:label="@string/title_myInfo">
        </activity>
        <activity
            android:name=".activities.employee.CompleteDeliveryActivity"
            android:label="@string/title_completeDelivery">
        </activity>
        <activity
            android:name=".activities.employee.MyDeliveryHistoryDetailsActivity"
            android:label="@string/title_deliveryDetails">
        </activity>
        <activity
            android:name=".activities.employee.StartDeliveryActivity"
            android:label="@string/title_startDelivery">
        </activity>

        <!-- admin -->
        <activity
            android:name=".activities.admin.AdminMenuActivity"
            android:label="@string/title_menu">
        </activity>
        <activity
            android:name=".activities.admin.DeliveryRequestsActivity"
            android:label="@string/title_deliveryRequests">
        </activity>
        <activity
            android:name=".activities.admin.AssignDeliveryRequestActivity"
            android:label="@string/title_assignDeliveryRequest">
        </activity>
        <activity
            android:name=".activities.admin.OpenedDeliveriesActivity"
            android:label="@string/title_openedDeliveries">
        </activity>
        <activity
            android:name=".activities.admin.DeliveryDetailsActivity"
            android:label="@string/title_deliveryDetails">
        </activity>
        <activity
            android:name=".activities.admin.NewDeliveryActivity"
            android:label="@string/title_newDelivery">
        </activity>

        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>